flask==3.1.2
flask-cors==4.0.1
gunicorn==22.0.0
torchvision==0.17.2
Pillow==10.2.0
scikit-learn==1.4.2
python-dotenv==1.0.1
requests==2.31.0
huggingface-hub==0.22.2
tokenizers==0.15.2
torch==2.2.2
sentence-transformers==3.0.1
numpy<2.0.0
pymongo[srv]==4.6.1